<?php

return array(
    'host' => 'http://localhost:8000',
    'base' => '/~exw-email',

    'db_server' => 'db',
    'db_username' => 'exw-email',
    'db_password' => 'exw-password',
    'db_name' => 'exw-email'
);
