#SELF {
  display: flex;
  width: 100%;
  bottom: 0;
  margin-bottom: -2rem;
  z-index: 9999;
}

#SELF > .component-body {
  display: flex;
  width: 100%;
}

#SELF .display {
  width: 0;
  height: 0;
}

#SELF .display > h3 {
  width: 100vh;
}

#SELF > .component-body .player-hand {
  align-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#SELF > .component-body .game-board {
  position: fixed;
  display: flex;
  width: 0;
  justify-content: center;
  margin-left: calc(50vh - 2rem);
}

#SELF > .component-body .bones-container .component {
  width: 5rem;
  transform: rotateZ(90deg) rotateX(180deg) scale(50%);
  transform-origin: 0% 0%;
}

#SELF > .component-body .player-hand .component-body:hover {
  margin-left: -7rem;
}
