#SELF .component-body {
  width: 22rem;
  height: 10rem;
  border-radius: 2rem;
  background-color: black;
  display: flex;
}

#SELF .bone.bone-dots {
  width: 10rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#SELF .bone.bone-divider {
  width: 1rem;
  height: 9rem;
  background-color: white;
  border: 0.5rem black solid;
  border-radius: 9rem;
}

#SELF .bone-dot {
  display: flex;
  justify-content: center;
  align-content: center;
}

#SELF .bone-dot > div {
  width: 2rem;
  height: 2rem;
  margin: auto;
}
