<div>
    <div class="bone bone-dots bone-dots-left">
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
    </div>
    <div class="bone bone-divider"></div>
    <div class="bone bone-dots bone-dots-right">
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
        <div class="bone-dot">
            <div></div>
        </div>
    </div>
</div>
