<div>
    <form action="actions/register.php" method="POST">
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <br>

        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <br>

        <div>
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword">
        </div>
        <br>

        <input type="submit" value="Register">
    </form>
</div>
