<div>
    <form action="actions/login.php" method="POST">
        <div>
            <div class="fail"><span>Bad credentials, failed to login in. <br/>If you don't have an account please Register. <br/>!/*display: none; in code*/!</span></div>
            <label>Username</label>
            <input type="text" name="username">
        </div>
        <br>

        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <br>
        <input type="submit" value="Login">
    </form>
</div>
