<div>
    <div class="centerwelcome">
        <div class="welcome">
            <!-- na diorthwthei to image -->
            <h1>Welcome to <br><img src="assets/images/wd.1.icon.png" alt="">
            </h1>
        </div>
    </div>

    <div class="split">
        <div class="half left">
            <div data-base-component="login-form-login" data-base-event-submit="login-submit"></div>
        </div>

        <div class="half right">
            <div data-base-component="login-form-register" data-base-event-submit="register-submit"></div>
        </div>
    </div>

    <section class="about">
        <div class="max-width">
            <h2 class="title">Σχετικά με το DominoZ</h2>
            <div class="about-content">
                <div class="column right">
                    <p>Στην αρχή του παιχνιδιού, κάθε παίκτης παίρνει από 7 πλακίδια. Υπάρχουν συνολικά 28 πλακίδια στο
                        παιχνίδι. Το κάθε πλακίδιο είναι χωρισμένο σε δύο μισά, τα οποία φέρουν από ένα συγκεκριμένο
                        αριθμό βαθμών 0-6. Εφτά από τα πλακίδια είναι διπλά, φέρουν δηλαδή τον ίδιο αριθμό και στις δύο
                        μεριές.
                    </p>
                    <p>
                        Ο παίκτης που ξεκινάει ένα γύρο τοποθετεί αρχικά ένα οποιοδήποτε από τα πλακίδιά του στο πεδίο
                        του παιχνιδιού και στη συνέχεια παίζουν οι επόμενοι παίκτες.
                    </p>
                    <p>
                        Όποιος παίκτης έχει σειρά πρέπει να μεγεθύνει τη γραμμή από ντόμινο προς οποιαδήποτε κατεύθυνση,
                        χρησιμοποιώντας μόνο ένα πλακίδιο που να φέρει τον ίδιο αριθμό που βρίσκεται και στο τέλος της
                        γραμμής. Μιας και η γραμμή δεν πρέπει να είναι ευθεία, αλλά να φτιάχνει τυχαίες γωνίες, οι
                        παίκτες μπορούν να τοποθετούν τα πλακίδιά τους σχηματίζοντας, ας πούμε, ένα αδιέξοδο. Σε αυτή
                        την περίπτωση, η γραμμή θα ξετυλίγεται αυτόματα.
                    </p>
                    <p>
                        Όποιος παίκτης έχει σειρά αλλά δεν έχει κάποιο πλακίδιο που να ταιριάζει θα πρέπει να τραβήξει
                        ένα από τα κρυμμένα πλακίδια, αλλά δεν μπορεί να το τοποθετήσει αμέσως.
                        Για να το τοποθετήσει, θα πρέπει να περιμένει μέχρι την επόμενη φορά. Στο μεταξύ, σειρά παίρνει
                        ο επόμενος παίκτης. Μόλις ένας παίκτης τοποθετήσει και το τελευταίο του πλακίδιο, τότε ο γύρος
                        τελειώνει και παίρνει τόσους βαθμούς, όσο και το άθροισμα των αριθμών στα εναπομείναντα πλακίδια
                        των αντιπάλων του.
                    </p>
                    <p>
                        Εάν δεν μπορέσει κανένας παίκτης να τοποθετήσει όλα του τα πλακίδια, τότε κερδίζει ο παίκτης με
                        το μικρότερο άθροισμα. Για κάθε αντίπαλό του παίρνει τόσους βαθμούς όση και η διαφορά τους
                        Π.χ.: ο παίκτης Α έχει 4 βαθμούς, ο παίκτης Β έχει 9 και ο παίκτης Γ έχει 14. Ο παίκτης Α
                        κερδίζει (9-4) + (14-4) = 15 βαθμούς.
                    </p>
                    <p>
                        Εάν 2 ή περισσότεροι παίκτες έχουν τους ίδιους βαθμούς, τότε ο γύρος τελειώνει ισόπαλος και
                        κανένας παίκτης δεν παίρνει βαθμούς. Το παιχνίδι τελειώνει μόλις κάποιος παίκτης φτάσει στον
                        καθορισμένο αριθμό βαθμών. Αυτός είναι και ο νικητής του παιχνιδιού. Σε παιχνίδια του ενός
                        γύρου, νικητής είναι ο παίκτης που θα τοποθετήσει πρώτος όλα του τα πλακίδια.</p>
                </div>
            </div>
        </div>
    </section>

</div>
